*{
    padding: 0;
    border: 0;
    box-sizing: border-box;
}
:root{
    --mainColor: #29335c;
    --mainColorLight: #5767aa;
    --secondaryColor: #db2b39;
    --textColor: #eee;
    --color: #ff9ed2;
    --button: #ffdaee;
    --buttonTransparent: #f7ebed;
    --black: #444;
    --black_2: #333;
    --gray: #808080;
    --grayTransparent: #ddd;


}
header{
    width: 100%;
    overflow: hidden;
}
.header{
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    /* padding: 0 2rem; */
    background-color: var(--black);
    color: var(--textColor);
    overflow: hidden;
}
.logo a{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    text-decoration: none;
    color: var(--textColor);
}
.logo a:hover{
    color: var(--color);
}
.logo img{
    width: 30%;
    height: 50px;
}
a{
    padding: 10px;
    color: var(--textColor);
    text-decoration: none;
}
a:hover{

    color: var(--button);
}
.header .nav_btn{
    width: 90px;
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.2rem;
}


@media only screen and (max-width: 1024px){
    .header .nav_btn{
        visibility: visible;
        opacity: 1;
    }
    .header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* gap: 1.5rem; */
        background-color: var(--black);
        transition: 1s;
        transform: translateX(-100vh);
    }
    .header .responsive_nav{
        transform: none;
    }
    nav .nav_close_btn{
        position: absolute;
        top: 1rem;
        right: 0.1rem;

    }
    nav a{
        font-size: 1.5rem;
    }
}
@media (max-width: 390px) {
    .logo a{
        width: 79%;
    }
}
/* llllllllllllllllllllllllllllllllllllllllllllllllllllll */

/* 
.navBar{
    z-index: 2;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    position: sticky;
    top: 0;
    background-color: white;
}
.logo a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    text-decoration: none;
    color: black;
    width: 43%;
}
.logo a:hover{
    color: rgb(255, 158, 210);
}
.logo img{
    width: 30%;
    height: 50px;
}
.nav_list{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav_list ul {
    display: flex;
}
.nav_list li{
    text-align: center;
    list-style: none;
}
.nav_list li a{
    color: black;
    text-decoration: none;
}
.nav_list li a:hover{
    border-bottom: 1px solid rgb(255, 158, 210);
    color: rgb(255, 158, 210);
}
.login_btn{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}
.login_btn a{
    display: flex;
    width: 100px;
    height: 50px;
    text-decoration: none;
}
.login_btn button{
    border-radius: 5px;
    width: 130px;
    border: none;
    height: 30px;
    margin: auto;
    background-color: rgb(255, 218, 238);
    cursor: pointer;
}
.login_btn button:hover{
    background-color: rgba(247, 235, 237, 1);
}
@media(max-width:700px){
        .navBar{
            display: block;
            height: 117px;
        }
        .logo a{
            text-align: center;
            margin: auto;
        }
        .login_btn a{
            margin: 2px auto;
        }
        .login_btn a button{
            height: 30px;
        }
}
@media(max-width: 400px){

    .logo a{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: space-around;
    }
    .logo a img{
        width: 20%;
        height: 65px;
    }
    .logo p{
        
        text-align: center;
    }
} */